@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Taviraj:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Trirong:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@font-face {
    font-family: "Faune";
    font-weight: 400;
    src: url(assets/fonts/faune-regular.woff2), url(assets/fonts/faune-regular.woff);
}

@font-face {
    font-family: "Faune";
    font-weight: 400;
    font-style: italic;
    src: url(assets/fonts/faune-italic.woff2), url(assets/fonts/faune-italic.woff);
}

@font-face {
    font-family: "Faune";
    font-weight: 700;
    src: url(assets/fonts/faune-bold.woff2), url(assets/fonts/faune-bold.woff);
}

body {
    font-family: "Fira Sans", Arial;
    font-size: 16px;
    line-height: 1.5;

    background-color: #accff6;
    /* background-image: linear-gradient(to bottom right, #D66D75, #E29587); */
    background-image: linear-gradient(to right, #6190E8, #accff6);
    color: #fff;
    margin: 0 0 0 265px;
    min-height: 100vh;
}

section {
    padding: 40px;
}

section.options {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    background-color: #6190E8;
    border-right: 15px solid rgba(255,255,255,.3);
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

div.option {
    margin: 30px 0;
}

div.option-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertically align */
}

label {
    display: block;
    margin: 0 0 5px 0;
}
label span {
    float: right;
    font-style: italic;
}

input, select { /* fix to make select and input same widths at 100% */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input[type="text"] { /* filter input selector by type of input */
    width: 100%;
    background-color: #fff;
    border: none;
    color: #111;
    font-weight: 500;
    padding: 5px 7px;
    
}

input[type="range"] {
    width: 100%;
}

select { /* TODO: Style this same as input box with padding etc... */
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 3px;
    background-color: #fff;
    border: none;
    color: #111;
    padding: 5px 7px;
}

textarea.output {
    position: fixed;
    left: 320px;
    width: 80%; /* TODO: This sends text off screen right when set to 100%*/
    min-height: 100vh;
    background-color: transparent;
    color: #fff;
    font-size: 64px;
    border: none;
    outline: none;
    padding: 40px;
    text-shadow: 3px 3px #f3a78e;
}

div.colors {
    display: flex; /* to get divss inline */
}

div.colors div {
    width: 30px;
    height: 30px;
    border: 2px solid rgba(255,255,255,0.25);
    border-radius: 50%;
    text-align: center;
    margin: 5px 10px 0 0;
    transition: border 0.25s;
}

div.colors div.selected {
    border: 2px solid rgba(255,255,255);
}